.astar {
      width: 100vw;
      height: 90vh;
      display: flex;
      flex-direction: row;
      font-family: 'Times New Roman', Times, serif;
}

.astar > .left-menu {
      width: 25%;
      height: 100%;
      background-color: rgb(52, 52, 52);
      color: #ffffff;
      float: left;
      align-items: center;
      display: flex;
      flex-direction: column;
}

.astar > .left-menu > .grid-input {
      display: flex;
      flex-direction: row;
      align-items: center;
}

.astar > .left-menu > .grid-input > .grid-number {
      height: 4vh;
      width: 4vw;
      border-radius: 25px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.2em;
      text-align: center;
}

.astar > .left-menu > .node-select-button {
      margin-top: 40px;
      width: 250px;
      height: 50px;
      border-radius: 25px;
      font-size: 1.2em;
      cursor: all-scroll;
}

.astar > .left-menu > .node-select-button {
      margin-top: 40px;
      width: 250px;
      height: 50px;
      border-radius: 25px;
      font-size: 1.2em;
      cursor: all-scroll;
}


.astar > .left-menu > .input-node {
      width: 300px;
      height: 4vh;
      /* background-color: aqua; */
      border: 1px solid #ffffff;
      border-radius: 25px;
      color: #333333;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.2em;
      align-items: center;
      justify-content: center;
      display: flex;
}

.astar > .display {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 75%;
      height: 100%;
      background-color: rgb(236, 236, 236);
}

.astar > .display > .row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
}

.astar > .display > .row > .node {
      display: flex;
      flex-direction: column;
      width: 5vw;
      height: 5vw;
      background-color: rgb(255, 255, 255);
      align-items: center;
      justify-content: center;
      border: solid 1px black;
}

.astar > .modal {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgb(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center; 
}

.astar > .modal > .dialog {
      width: 450px;
      height: 150px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
      border-radius: 4px;
}

.astar > .modal > .dialog > .button {
      width: 150px;
      height: 50px;
      font-size: 1.2em;
      background-color: #333333;
      color: #ffffff;
      border-radius: 5px;
}